{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Todo</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for todo in todos %}
          <li>{{ todo.title }}
          <form action={{url_for("complete_card", id=todo.id)}} class"complete-todo-form">
            <div class="complete-todo-form">
              <input type="submit" value "mark as completed">
            </div>
          </form>
          </li>

        {% endfor %}
      </ul>
    </div>
    </div>

<form action="/card" method="post" class="new-todo-form">
  <div class="new-todo-form">
    <label for="title">Enter the title: </label>
    <input type="text" name="title" id="title" required>
  </div>
  <div class="new-todo-form">
    <input type="submit" value="Add todo">
  </div>
</form>

  <div class="row">
    <div class="col-md-12">
      <h2>Done</h2>
      <ul class="list-group mb-4">
        {% for done in dones %}
          <li>{{ done.title }}</li>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>

  

{% endblock %}